@import 'var.scss';
@import 'fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

.wrap__page {
    overflow: hidden;
    display: grid;
    grid-template-rows: 120px auto 135px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a,
button {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    border: none;

}
html, body{
    height: 100%;
}
body {
    font-family: 'Lexend-Regular', sans-serif;
    color: white;
    background-color: $page-color;
}

.container {
    margin: 0 auto;
    width: 1920px;
    padding: 0 140px;
}

.header {
    padding-top: 16px;
    padding-bottom: 8px;

    &__inner {
        display: flex;
        width: 100%;
        padding: 20px 44px;
        justify-content: space-between;
        align-items: center;
        border-radius: 64px;
        border: 4px solid $main-blue;
        background-color: $page-color;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__button {
        display: flex;
        position: relative;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 24px;
        border: 2px solid $not-active;
        background-color: transparent;
        font-weight: 400;
        font-family: 'Lexend-Regular';
        font-size: 16px;
        line-height: 20px;
    }

    &__button:hover {
        border: 2px solid $main-blue;
        background-color: $main-blue;
        cursor: pointer;
    }
}

.check__button {
    display: none;
}

.language__img {
    width: 16px;
    height: 16px;
}

.language__text input {
    display: none;
}

.res_lang {
    top: 10px;
    left: 32px;
}

.rus,
.eng {
    display: none;
}

.en:checked~.res_lang>.eng,
.ru:checked~.res_lang>.rus {
    display: block;
}

.show_lang {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: $page-color;
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 24px;
    border: 2px solid #9DADF2;
    z-index: 55;
    align-content: stretch;
    cursor: pointer;

}

.header__button:hover .show_lang {
    display: flex;

}

.select_lang {
    text-align: center;
    padding: 10px 12px;
    background-color: transparent;
    font-family: "Lexend-Regular";
    width: 100%;
    line-height: 20px;
    cursor: pointer;
    border-radius: 24px 24px 0 0;
}

.select_lang:last-child {
    border-radius: 0 0 24px 24px;

}

.select_lang:hover {
    background-color: $main-blue;

}

.logo {
    width: 287px;
}

.check__button {
    display: none;
}

.menu {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &__list {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
}

.button__toggle {
    display: none;
    padding: 4px;
}

@media (max-width: 1920px) and (min-width: 1640px) {
    .container {
        margin: 0 auto;
        width: 1640px;
        padding: 0 100px;
    }
}

@media (max-width: 1640px) and (min-width: 1280px) {
    .container {
        margin: 0 auto;
        width: 1280px;
        padding: 0 80px;
    }

    .logo {
        width: 180px;
    }

    .menu__list {
        font-size: 14px;
        gap: 24px
    }

    .header__inner {
        padding: 16px 34px;
    }

    .header__button {
        font-size: 14px;
    }

}
@media (max-width: 1280px) and (min-width: 960px) {
    .container {
        margin: 0 auto;
        width: 960px;
        padding: 0 30px;
    }

    .logo {
        width: 100px;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 0;
        position: relative;
        &__inner {
            padding: 15px 30px;
            width: 100%;
            border-width: 2px;
        }

        &__buttons {
            gap: 14px;
        }

        &__button {
            display: none;
            position: absolute;
            right: 0;
            width: 380px;
            margin: 0 10px;
            padding: 11px 18px;
            background-color: $button-notactive;

            &-wrap {
                display: flex;
                text-align: center;
            }

            &-in {
                top: 450px;
            }

            &-up {
                top: 500px;
            }
        }
    }

    .check__button:checked~.header__buttons>.header__button {
        display: block;
        z-index: 999;
    }


    .button__toggle-close {
        display: none;
    }

    .check__button:checked~.header__buttons>.header__button-wrap>.button__toggle>.button__toggle-open {
        display: none;
    }

    .check__button:checked~.header__buttons>.header__button-wrap>.button__toggle>.button__toggle-close {
        display: block;
    }

    .menu {
        display: none;
        z-index: 999;
        background: linear-gradient($page-color 70%, transparent);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding: 30px 10px;
        position: absolute;
        top: 100%;
        right: 0;
        height: 700px;
        width: 400px;

        &__list {
            flex-direction: column;
            gap: 5px;
            padding: 0;
        }

        &__item {
            padding: 11px 18px;
            border-radius: 28px;
            border: 2px solid $main-blue;
            width: 100%;
        }

        &__item:hover {
            border: 2px solid $main-blue;
            background-color: $main-blue;
        }
    }

    .check__button:checked~.menu {
        display: block;
    }

    .language {
        left: 0;
        width: inherit;
        display: inline-block;
        opacity: 1;
        line-height: normal;
        display: block;
        position: relative;
        padding: 6px;
        font-size: 0;
        border-radius: 50%;

        &__text~.rus,
        &__text~.eng {
            display: none;
            font-size: 0;
        }

        &__img {
            width: 20px;
            height: 20px;
        }
    }

    .button__toggle {
        display: block;
        background-color: transparent;
        font-size: 0;
        line-height: 0;
    }

    .show_lang {
        border-radius: 18px;
        top: 30px;
        font-size: 14px;
        line-height: 20px;
    }

    .select_lang {
        font-size: 12px;
        padding: 10px 4px;
    }

    .language:hover~.show_lang {
        display: block;
    }

}
@media (max-width: 320px) {
    ::-webkit-scrollbar {
        width: 0;
    }

    .container {
        margin: 0 auto;
        width: 320px;
        padding: 0 10px;
    }

    body {
        min-width: 320px;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 0;
        position: relative;

        &__inner {
            padding: 8px 12px;
            width: 100%;
            border-width: 2px;
        }

        &__buttons {
            gap: 4px;
        }

        &__button {
            display: none;
            position: absolute;
            left: 0;
            width: calc(100% - 20px);
            margin: 0 10px;
            padding: 11px 18px;
            background-color: $button-notactive;

            &-wrap {
                display: flex;
                text-align: center;
            }

            &-in {
                top: 450px;
            }

            &-up {
                top: 500px;

            }
        }
    }

    .check__button:checked~.header__buttons>.header__button {
        display: block;
        z-index: 999;
    }


    .button__toggle-close {
        display: none;
    }

    .check__button:checked~.header__buttons>.header__button-wrap>.button__toggle>.button__toggle-open {
        display: none;
    }

    .check__button:checked~.header__buttons>.header__button-wrap>.button__toggle>.button__toggle-close {
        display: block;
    }

    .menu {
        display: none;
        z-index: 999;
        background: linear-gradient($page-color 70%, transparent);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding: 30px 10px;
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vh;
        width: 100%;

        &__list {
            flex-direction: column;
            gap: 5px;
            padding: 0;
        }

        &__item {
            padding: 11px 18px;
            border-radius: 28px;
            border: 2px solid $main-blue;
            width: 100%;
        }

        &__item:hover {
            border: 2px solid $main-blue;
            background-color: $main-blue;
        }
    }

    .check__button:checked~.menu {
        display: block;
    }

    .language {
        left: 0;
        opacity: 1;
        line-height: normal;
        display: block;
        margin: 0;
        position: relative;
        padding: 6px;
        font-size: 0;
        border-radius: 50%;

        &__text~.rus,
        &__text~.eng {
            display: none;
            font-size: 0;
        }

        &__img {
            width: 20px;
            height: 20px;
        }
    }

    .button__toggle {
        display: block;
        background-color: transparent;
        font-size: 0;
        line-height: 0;
    }

    .show_lang {
        font-size: 14px;
        line-height: 20px;
    }

    .select_lang {
        font-size: 12px;
        padding: 10px 4px;
    }

    .language:hover~.show_lang {
        display: block;
    }
}


//-----------------------------------BANNER-----------------------------------------
.banner {
    overflow: hidden;

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Lexend-Medium', sans-serif;
    }

    &__title {
        margin-right: 42px;
    }

    &__scroll {
        display: flex;
        gap: 18px;
        margin-right: 65px;
    }
}

.light__left {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 0;
    width: 226.458px;
    height: 1302.469px;
    transform: rotate(-54.311deg);
    background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.40) 100%);
    opacity: 0.55;
    filter: blur(150px);
}

.light__right {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 574px;
    height: 574px;
    border-radius: 574px;
    opacity: 0.7;
    background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
    filter: blur(325px);
}

.title {
    &__name {
        font-size: 96px;
        line-height: 96px;
        margin-bottom: 24px;

        &-blue {
            color: $main-blue;
        }
    }

    &__text {
        color: #fff;
        opacity: 0.6;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 48px;
    }

    &__button {
        font-family: 'Lexend-SemiBold', sans-serif;
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        padding: 20px 72px;
        border-radius: 48px;
        background-color: $main-blue;
        cursor: pointer;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 240px);
    // height: 100%;
    gap: 24px;
    overflow: hidden;
}

.lenta {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__mobile {
        display: none;
    }
}

.scroll-1 .lenta {
    opacity: 0.2;
    animation: scroll-coin-1 2s linear infinite;
}

@keyframes scroll-coin-1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-104%);
    }
}

.scroll-2 .lenta {
    opacity: 0.6;

    animation: scroll-coin-2 5s linear infinite;
}

@keyframes scroll-coin-2 {
    0% {
        transform: translateY(-104%);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-3 .lenta {
    opacity: 0.4;
    animation: scroll-coin-3 7s linear infinite;
}

@keyframes scroll-coin-3 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-103%);
    }
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 531px;
    gap: 24px;

    &__title {
        font-family: 'Lexend-SemiBold', sans-serif;
        font-size: 40px;
        line-height: 40px;
    }

    //-----------------------------------------------------------------
    &__container {
        position: relative;
        width: 530px;
        height: 595px;
        border-radius: 100px;
        border: 3px solid #478BF9;
        background-color: rgba(255, 255, 255, 0.12);
        padding: 22px 40px 0 22px;
    }

    &__viewport {
        position: absolute;
        left: 0;
        right: 13px;
        top: 0;
        bottom: 0;
    }

    &__content-box {
        height: 100%;
        position: absolute;
        left: 0;
        overflow-y: scroll;
        width: 524px;
        border-radius: 100px;
        padding: 22px 40px 0 22px;
    }

    &__content-box::-webkit-scrollbar {
        width: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 22px;
    }

    &__item {
        padding: 16px 64px;
        width: 467px;
        border-radius: 196px;
        background-color: $button-notactive;
        font-size: 24px;
        line-height: 28px;
    }

    &__item:hover {
        background-color: $main-blue;
        cursor: pointer;
    }

}

.scrollbar,
.scroller {
    width: 8px;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.scrollbar {
    overflow: hidden;
    z-index: 80;
    right: 0;
    height: 403px;
    top: 96px;
    background-color: rgba(255, 255, 255, 0.12);
}

.scroller {
    left: 0;
    background: $main-blue;
    cursor: pointer;
}

.item__text {
    margin-bottom: 14px;
}

.item__date {
    font-family: 'Futura PT';
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.60);
}

@media (max-width: 1920px) and (min-width: 1640px) {
    .light__left {
        top: 0;
        left: 0;
        width: 216.458px;
        height: 1002.469px;

    }
    
    .light__right {
        bottom: 0;
        right: -140px;
        width: 504px;
        height: 504px;
    }
    .title {
        &__name {
            font-size: 86px;
            line-height: 86px;
            margin-bottom: 20px;

        }

        &__text {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 40px;
        }

        &__button {
            font-size: 22px;
            line-height: 30px;
        }
    }

    .banner__title {
        margin-right: 24px;
    }

    .banner__scroll {
        gap: 14px;
        margin-right: 45px;
    }

    .lenta__img {
        width: 80px;
    }
.scroll{
    height: calc(100vh - 265px);

}
    .blog {
        width: 470px;
        gap: 18px;

        &__title {
            font-size: 36px;
            line-height: 26px;
        }

        &__container {
            width: 470px;
            height: 485px;
            padding: 18px 34px 0 18px;
        }

        &__viewport {
            right: 11px;
        }

        &__content-box {
            width: 470px;
            padding: 18px 34px 0 18px;
        }

        &__list {
            gap: 14px;
            margin-bottom: 18px;
        }

        &__item {
            padding: 14px 58px;
            width: 100%;
            font-size: 22px;
            line-height: 26px;
        }

    }

    .scrollbar {
        height: 343px;
        top: 76px;
        background-color: rgba(255, 255, 255, 0.12);
    }
}

@media (max-width: 1640px) and (min-width: 1280px) {
    .light__left {
        top: 0;
        left: 0;
        width: 200.458px;
        height: 902.469px;

    }
    
    .light__right {
        bottom: 0;
        right: -130px;
        width: 484px;
        height: 484px;
    }
    .title {
        &__name {
            font-size: 66px;
            line-height: 66px;
            margin-bottom: 20px;

        }

        &__text {
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 30px;
        }

        &__button {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .banner__title {
        margin-right: 30px;
    }

    .banner__scroll {
        gap: 14px;
        margin-right: 30px;
    }

    .lenta__img {
        width: 60px;
    }

    .scroll {
        height: calc(100vh - 260px);
        gap: 16px;
    }

    .lenta {
        gap: 16px;
    }

    .blog {
        width: 370px;
        gap: 16px;

        &__title {
            font-size: 32px;
            line-height: 26px;
        }

        &__container {
            width: 370px;
            height: 340px;
            padding: 14px 28px 0 14px;
            border-radius: 80px;
        }

        &__viewport {
            right: 11px;
        }

        &__content-box {
            width: 370px;
            padding: 18px 34px 0 18px;
            border-radius: 80px;
        }

        &__list {
            gap: 12px;
            margin-bottom: 14px;
        }

        &__item {
            padding: 16px 50px;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .item__text {
        margin-bottom: 10px;
    }

    .item__date {
        font-size: 12px;
    }

    .scrollbar {
        height: 230px;
        top: 50px;
    }
}
@media (max-width: 1280px) and (min-width: 960px) {
    .light__left {
        top: 0;
        left: 40px;
        width: 150.458px;
        height: 802.469px;

    }
    
    .light__right {
        bottom: 0;
        right: -70px;
        width: 444px;
        height: 444px;
    }
    .title {
        &__name {
            font-size: 46px;
            line-height: 46px;
            margin-bottom: 10px;

        }

        &__text {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        &__button {
            padding: 20px 52px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .banner__title {
        margin-right: 20px;
    }

    .banner__scroll {
        gap: 14px;
        margin-right: 20px;
    }

    .lenta__img {
        width: 60px;
    }

    .scroll {
        height: calc(100vh - 200px);
        gap: 16px;
    }

    .lenta {
        gap: 16px;
    }

    .blog {
        width: 300px;
        gap: 12px;

        &__title {
            font-size: 26px;
            line-height: 26px;
        }

        &__container {
            width: 300px;
            height: 340px;
            padding: 10px 22px 0 10px;
            border-radius: 70px;
        }

        &__viewport {
            right: 6px;
        }

        &__content-box {
            width: 300px;
            padding: 10px 22px 0 10px;
            border-radius: 70px;
        }

        &__list {
            gap: 12px;
            margin-bottom: 10px;
        }

        &__item {
            padding: 14px 40px;
            width: 100%;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .item__text {
        margin-bottom: 8px;
    }

    .item__date {
        font-size: 10px;
    }

    .scrollbar {
        height: 240px;
        top: 50px;
    }
}
@media (max-width: 320px) {

    .banner {
        &__inner {
            margin-bottom: 40px;
            padding: 70px 0;
            display: block;
        }
    }

    .title {
        margin: 0;
        text-align: center;

        &__name {
            font-size: 46px;
            line-height: 50px;
            margin-top: 0;
            margin-bottom: 12px;
        }

        &__text {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 24px;
        }

        &__button {
            padding: 15px 20px;
            font-family: Lexend;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
        }
    }

    .lenta>img {
        height: 50px;
    }

    .banner__scroll {
        padding: 33px 0;
        flex-direction: column;
        gap: 8px;
        margin-right: 0;
    }

    .scroll {
        position: relative;
        width: 320px;
        left: -10px;
        right: -10px;
        flex-direction: row;
        height: 50px;
        gap: 12px;
    }

    .lenta {
        flex-direction: row;
        gap: 12px;

        &__mobile {
            display: block;
        }

        &__desctop {
            display: none;
        }
    }

    @keyframes scroll-coin-1 {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes scroll-coin-2 {
        0% {
            transform: translateX(-104%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes scroll-coin-3 {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-103%);
        }
    }

    .blog {
        width: 300px;
        gap: 18px;

        &__title {
            font-size: 32px;
            line-height: 40px;
        }

        &__container {
            width: 100%;
            height: 421px;
            border-radius: 50px;
            border: 2px solid #478BF9;
            padding: 0;
        }

        //---------------------------------------------------------------------------------
        &__viewport {
            right: 0;
        }

        &__content-box {
            left: 0;
            right: 0;
            width: 100%;
            border-radius: 50px;
            padding: 8px 14px 0 8px;
        }

        &__list {
            gap: 10px;
            margin-bottom: 8px;
        }

        &__item {
            width: 100%;
            padding: 15px 35px;
            border-radius: 40px;
            font-size: 16px;
            line-height: 20px;
        }

    }

    .scrollbar,
    .scroller {
        width: 4px;
    }

    .scrollbar {
        right: 4px;
        height: 301px;
        top: 60px;
    }

    .item__text {
        margin-bottom: 6px;
    }

    .light__left {
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 130px;
        width: 81px;
        height: 466px;
        transform: rotate(-54.311deg);
        background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.40) 100%);
        opacity: 0.55;
        filter: blur(40px);
    }

    .light__right {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 160px;
        width: 240px;
        height: 240px;
        border-radius: 574px;
        opacity: 0.7;
        background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
        filter: blur(135px);
    }
}

//---------------------------------------FOOTER-------------------------------------
.footer {
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding: 36px 0 24px 0;
    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid $main-blue;
    border-right: 4px solid $main-blue;
    border-left: 4px solid $main-blue;
    min-width: 1920px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end
    }


    &__list {
        display: flex;
        gap: 40px;
    }

    &__link {
        font-size: 16px;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
            color: $main-blue;
        }
    }
}

.social {
    &__title {
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        margin-bottom: 14px;
    }

    &__list {
        display: flex;
        gap: 8px;
    }

    &__item {
        position: relative;
    }

    &__link {
        position: relative;
        display: block;
    }

    &__vector {
        position: relative;
        display: inline-block;
    }

    &__link:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 1%, transparent);
        border-radius: 50%;
        z-index: 9;
    }

    &__icon {
        position: absolute;
        margin: 0 auto;
        left: 0;
        top: 8px;
        right: 0;
    }
}

@media (max-width: 1920px) and (min-width: 1640px) {
    .footer {
        padding: 30px 0 18px 0;
        min-width: 1640px;
    }

}

@media (max-width: 1640px) and (min-width: 1280px) {
    .footer {
        padding: 24px 0 10px 0;
        min-width: 1280px;
    }

    .social {
        &__title {
            margin-bottom: 8px;
        }
    }

}
@media (max-width: 1280px) and (min-width: 960px) {
    .footer {
        padding: 18px 0 10px 0;
        min-width: 960px;
        &__list{
            gap: 20px;
        }
    }

    .social {
        &__title {
            margin-bottom: 6px;
        }
    }

}
@media (max-width: 320px) {
    .footer {
        padding: 18px 18px 20px 18px;
        border-radius: 50px 50px 0px 0px;
        border-top: 2px solid $main-blue;
        border-right: 2px solid $main-blue;
        border-left: 2px solid $main-blue;
        min-width: 320px;

        &__inner {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        &__list {
            flex-direction: column;
            gap: 2px;
        }

        &__link {
            font-size: 14px;

            &:hover {
                text-decoration: underline;
                color: $main-blue;
            }
        }
    }

    .social {
        &__title {
            font-size: 14px;
            text-align: left;
            margin-bottom: 8px;
        }

        &__list {
            gap: 8px;
            margin-bottom: 10px;
        }

        &__link {
            font-size: 0;
            line-height: 0;
        }

        &__vector {
            width: 27px;
            height: 27px;
        }

        &__link:hover::after {
            width: 27px;
            height: 27px;
        }

        &__icon {
            width: 13px;
            height: 13px;
            top: 7px;
        }
    }
}